.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: rgb(194, 101, 88);
}

table {
  color: white;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #0a4614;
}

.header-row {
    background: #5d6a6d;
    color: white;
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) { 
    background-color: rgb(17, 116, 17); 
} 